


.MQS
{
    display: flex;
    justify-content: space-evenly;
 padding: 20px;
    
}
.MQS1
    {
        font-size: 15px;
        background-color: #ffcce6;
        padding: 20px;
        text-align: center;
        margin: 2px;
    }


    @media (min-width: 840px) and (max-width: 1064px) and (orientation: landscape){ 
  
        .MQS{
            flex-direction: row;
        }
        .MQS1
        {
            font-size: 20px;
           
            padding: 20px;
    
        }
    }

    @media (min-width: 100px ) and (max-width: 839px) and (orientation: portrait){ 

        .MQS{
            flex-direction: column;
        }
  
        .MQS1
        {
            font-size: 40px;
           
            padding: 20px;
    
        }
    }