@media (min-width: 480px)and (max-width: 520px) { 
    .MQ{
        font-size: 3rem;
    }
    
    .MQS
    {
        padding: 20px 0;
    }
    
    .MQS1
        {
         
            font-size: 2rem;
            padding: 20px;
            width: 40%;
        }
    }
.MQ{
    display: block;
    background-color: #ffb3d9;
    font-size: 3rem;
    text-align: center;
    padding: 2px;
}

.MQS
{
    display: flex;
    justify-content: space-around;
 padding: 20px 0;
    .MQS1
    {
        font-size: 2rem;
        background-color: #ffcce6;
        padding: 20px;
        width: 40%;
        text-align: center;
        margin: 1px;
    }
}

